server:
  port: 8083

info:
  app:
    name: Sink App
    description: Sink App - consume messages from the kafka for the spring-cloud-datafalow-streaming-example

logging:
  level: INFO
schema.registry.url: http://localhost:8081

spring:
  application:
    name: sink-app

  kafka:
    bootstrap-servers: localhost:9093
    properties:
      schema.registry.url: ${schema.registry.url}
    consumer:
      group-id: sinks
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
  cloud:
    stream:
      kafka:
        binder:
          autoAddPartitions: true
          minPartitionCount: 2
      bindings:
        input:
          destination: kafka-demo-processed
          content-type: application/avro
          group: sinks
#          content-type: application/json
  security:
    user:
      name: admin
      password: secret
      roles: ACTUATOR

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
